.wrapper {
    background: white;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 14px;
    width: 190px;
    margin: 21px 0;
}

input,
select {
    color: #333;
    width: 90px;
}
input {
    padding-left: 10px;
}
select {
    padding: 15px
}